# Assignment  Python - Data Structure

## Data Types and Structures Questions

1. What are data structures, and why are they important? 
Ans. Data structures are containers with specialized formats in Python which is used to store and manage data efficiently . Example – List, Tuple etc. Data structures helps user to store, organize and manipulate  values in  context.

2. Explain the difference between mutable and immutable data types with examples.
Ans. In case of mutable  data types, user can add, remove or modify the elements of the variables. Example – List and Set. Whereas, elements of immutable data types can be added, removed or altered after the data type is created. Example- Tuples and String.

3. What are the main differences between lists and tuples in Python?
Ans. List is mutable ordered data type can be modified after creation, whereas, Tuple is ordered immutable data type can not be altered after creation.

4. Describe how dictionaries store data. 
Ans. Dictionaries store data in key and value pairs within “{ }” brackets. Each value(s) are assigned to key. There can not be any duplicate keys.
 Example:
 Dict = {“name”: “Ramesh”, “age”: 38}

5. Why might you use a set instead of a list in Python?
Ans. Set is useful when user requires unique values with data structures. Set operations can be also carried out among multiple sets  and validate membership test of elements .

6. What is a string in Python, and how is it different from a list?
Ans. String is a collection of characters ordered in sequence. It is primarily used for managing text data.  List is mutable but string is immutable.

7. How do tuples ensure data integrity in Python?
Ans. Tuples is immutable and can not be modified after creation. This characteristic of tuple ensures any data stored in can not be mistakenly or intentionally  modified and maintain the integrity of the data. 

8. What is a hash table, and how does it relate to dictionaries in Python?
Ans. Python dictionaries store key-value pairs where Python internally uses a hash function to process the keys. This hash function generates a unique hash value for each unique key. This unique hash value is used to determine where the key-value pair will be stored in the dictionary's underlying data structure. Thus,  Python, dictionaries are an implementation of hash tables. 

9. Can lists contain different data types in Python?
Ans. Yes List can contains different data types like integer, float, string, boolean,list etc.

10. Explain why strings are immutable in Python.
 Ans. String is a collection of characters ordered in sequence. String is immutable in the sense, that string can not modified once created. 
Example: 
 s = "Hello"
s[0] = "h"

This code will type error: “'str' object does not support item assignment”

11. What advantages do dictionaries offer over lists for certain tasks?
Ans. Dictionaries are faster than when it comes to retrieve data based certain conditions.  Values can easily fetched using corresponding keys which is not possible for list.
Dictionaries store data in key-value pairs, allowing direct access via meaningful keys, unlike lists which use integer indices. This is helpful when the data is naturally associated with unique identifiers.
Data integrity is ensured in case of dictionary because it does not allow duplicate keys.

12. Describe a scenario where using a tuple would be preferable over a list.
Ans. Tuples are immutable collection of data whereas, list is mutable. Hence, when the data integrity is important then tuple is obvious choice over list.

13. How do sets handle duplicate values in Python?
Ans. In Python, sets automatically handle duplicate values by not allowing any duplicates to exist within the set. If a new elements is  added to a set that is already present, the set ignores this addition, effectively keeping only one instance of each element. This behavior is due to sets being collections of unique elements based on their hash values.

14. How does the "in" keyword work differently for lists and dictionaries?
Ans. In case of list, the "in" keyword checks membership by  looking up elements sequentially to see if the specified value is present. For dictionaries, the "in" keyword checks for the presence of a key, not a value. 
, "in" on a list searches for the existence of a value , while "in" on a dictionary checks for the existence of a key using hashing. 

15. Can you modify the elements of a tuple? Explain why or why not.
Ans. Elements of a tuple can to be changed in Python because tuples are immutable. This means that once a tuple is created, its contents  and their order cannot be changed, added to, or removed. 
However, if a tuple contains mutable objects (such as a list), those internal mutable objects can be changed, but the tuple itself still references the same objects in the same order. 
Example:
t = (1,2, [3,4])
print(t)
t[2][1] = 5
print(t)

Output:
(1, 2, [3, 4])
(1, 2, [3, 5])

16. What is a nested dictionary, and give an example of its use case?
Ans. Nested dictionary can have another dictionary as value assigned to a key. This for of data structure is useful when we need to store and manage complex hierarchical data with multiple sub groups.
Example: 
student = {
    "name": "Suresh",
    "age": "19",
    "marks":
        {
            "math":98,
            "englis":90,
            "science": 35
        }
    
}


17. Describe the time complexity of accessing elements in a dictionary.
Ans. The time complexity of accessing elements in a dictionary is generally O(1), meaning it allows constant-time access on average. This efficiency is because dictionaries use a hash table data structure internally, which calculates a hash value from the key to directly locate the memory address of the value. 

18. In what situations are lists preferred over dictionaries?
Ans. List are simple form of data structure and use less memory. List is preferred over dictionaries when data is stored and retrieved in a sequential manner using position. 

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans. Dictionaries are considered unordered because the way they store data does not keep items in a specific sequence like a list does. Instead of remembering the order in which items were added, dictionaries focus on organizing data for very fast access using keys. Dictionaries u can't retrieve items by position or index; the order can seem random or unpredictable.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Ans. In a list, you retrieve items by their position or order. Each item has a numeric index starting from zero, and you use this index to get the item. Whereas, in dictionary, data is retrieved by a unique key rather than position. Instead of numeric indexes, each item is stored with a key that is used to get the corresponding value quickly. Data retrieving is faster in case of dictionary compared to list as it does not need to follow any indexing or sequence.

## Practical Questions

1. Write a code to create a string with your name and print it.
2. Write a code to find the length of the string "Hello World".
3. Write a code to slice the first 3 characters from the string "Python Programming".
4. Write a code to convert the string "hello" to uppercase.
5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
6. Write a code to create a list with numbers 1 to 5 and print it.
7. Write a code to append the number 10 to the list [1, 2, 3, 4].
8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
10. Write a code to reverse the list [10, 20, 30, 40, 50].
11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow).
13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat, 'rabbit).
15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name: 'John', 'age: 25}.
23. Write a code to access the value associated with the key "name" in the dictionary {'name: 'Alice', 'age: 30}.
24. Write a code to remove the key "age" from the dictionary {'name' 'Bob', 'age': 22, 'city': 'New York'}.
25. Write a code to check if the key "city" exists in the dictionary {'name: 'Alice', 'city: 'Paris'}.
26. Write a code to create a list, a tuple, and a dictionary, and print them all.
27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)
28. Write a code to create a list with strings and print the element at the third index.
29. Write a code to combine two dictionaries into one and print the result.
30. Write a code to convert a list of strings into a set.

### 1. Write a code to create a string with your name and print it.

In [1]:
s = "Soumya"
print(s)

Soumya

### 2. Write a code to find the length of the string "Hello World".

In [2]:
s = "Hello World"
print(len(s))

11

### 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
s = "Python Programming"
print(f"First 3 strigs: {s[0:3]}")

First 3 strigs: Pyt

### 4. Write a code to convert the string "hello" to uppercase.

In [4]:
s = "hello"
s.upper()

'HELLO'

### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
s = "I like apple"
print(s)
s.replace("apple", "orange")

I like apple

'I like orange'

### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
l = [1,2,3,4,5]
# [i for i in range(1,6)]
print(l)

[1, 2, 3, 4, 5]

### 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
l = [1, 2, 3, 4]
print(l)
l.append(10)
l

[1, 2, 3, 4]

[1, 2, 3, 4, 10]

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
l = [1,2,3,4,5]
print(l)
l.remove(3)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
l = ['a', 'b', 'c', 'd']
print(f"second element in the list: {l[1]}")

second element in the list: b

### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
l = [10, 20, 30, 40, 50]
l[::-1]

[50, 40, 30, 20, 10]

### 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
t = (100,200,300)
print(t)

(100, 200, 300)

### 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow).

In [12]:
t = ('red', 'green', 'blue', 'yellow')
t[-2]

'blue'

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
t = (10, 20, 5, 15)
print(min(t))

5

### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat, 'rabbit).

In [14]:
t = ('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

### 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ('orange','apple','kiwi')

if 'kiwi' in fruits:
    print("Kiwi is available")
else:
    print("Kiwi is not available")

Kiwi is available

### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
s = {'a','b','c'}
print(s)

{'c', 'a', 'b'}

### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
s = {1, 2, 3, 4, 5}
s.clear()
s

set()

### 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
s = {1,2,3,4}
s.remove(4)
s

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
s1 = {1,2,3}
s2 = {3,4,5}
s1.union(s2)

{1, 2, 3, 4, 5}

### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [42]:
s1 = {1,2,3}
s2 = {2,3,4}
s1.intersection(s2)

{2, 3}

### 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [20]:
d = {"name": "Ramesh", "age": 35, "city": "Pune"}
print(d)

{'name': 'Ramesh', 'age': 35, 'city': 'Pune'}

### 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name: 'John', 'age: 25}.

In [23]:
d = {"name": "John", 'age': 25}
print(d)
d['country'] = "USA"
print(d)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Write a code to access the value associated with the key "name" in the dictionary {'name: 'Alice', 'age: 30}.

In [28]:
d =  {'name': 'Alice', 'age': 30}
d['name']

'Alice'

### 24. Write a code to remove the key "age" from the dictionary {'name' 'Bob', 'age': 22, 'city': 'New York'}.

In [32]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(d)
d.pop('age')
print(d)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

### 25. Write a code to check if the key "city" exists in the dictionary {'name: 'Alice', 'city: 'Paris'}.

In [36]:
d = {'name': 'Alice', 'city': 'Paris'}
'city'  in d.keys()

True

### 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [43]:
l = [1, 2, 3, 4]
t = (10, 20, 30)
d = {"name": "Ramesh", "age": 25, "city": "Delhi"}

print(f"List:- {l}\nTuple:- {t}\nDictionary:- {d}")

List:- [1, 2, 3, 4]
Tuple:- (10, 20, 30)
Dictionary:- {'name': 'Ramesh', 'age': 25, 'city': 'Delhi'}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

In [49]:
l = [30,8,17,85,54]
print(l)
sorted(l)

[30, 8, 17, 85, 54]

[8, 17, 30, 54, 85]

### 28. Write a code to create a list with strings and print the element at the third index.

In [56]:
l = ['apple', 'mango', 'kiwi', 'orange','tomato']
l[3]

'orange'

### 29. Write a code to combine two dictionaries into one and print the result.

In [9]:
d1 = {"name": "Ramesh", "age": 25, "city": "Delhi"}
d2 = {"Dept": "Accounts", "Salary": 75000}

d3 = {**d1, **d2}

print(d3)

{'name': 'Ramesh', 'age': 25, 'city': 'Delhi', 'Dept': 'Accounts', 'Salary': 75000}

### 30. Write a code to convert a list of strings into a set.

In [11]:
l = ["apple", "mango", "orange","mango"]
print(l)
s = set(l)
print(s)

['apple', 'mango', 'orange', 'mango']
{'orange', 'apple', 'mango'}